.Navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: var(--dark);
	height: 80px;
	z-index: 200;
}

.Nav {
	list-style-type: none;
	padding: 0;
	margin-left: auto;
}

.Nav li {
	display: inline-block;
	margin: 5px 20px;
}

.Nav li a {
	color: var(--font-light);
	font-weight: bold;
}

.Logo a {
	font-weight: bold;
	font-size: 2rem;
	color: var(--medium);
}
