.Navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px 50px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	background-color: var(--dark);
	height: 80px;
	z-index: 200;
}

.Nav {
	list-style-type: none;
	padding: 0;
	flex: 0 0 auto;
}

.Nav li {
	display: inline-block;
	margin: 5px 20px;
}

.Nav li a {
	color: var(--font-link);
	font-weight: bold;
}

.Logo a {
	font-weight: bold;
	font-size: 1.5rem;
	color: var(--medium);
}

.Navbar a:hover {
	text-decoration: none;
} 

.User {
	text-align: center;
	color: var(--font-light);
}

.Name {
	font-weight: bold;
	font-size: 1.1rem;
}

@media (max-width: 1000px) {
	.Navbar {
		padding: 10px 10px;
	}
	.Nav li {
		margin: 5px 5px;
	}
}