.Source {
	padding: 50px 30px 30px 30px;
	position: relative;
	display: flex;
	flex-direction: column;
}

.Card_title {
	margin: 0;
}

.Card_sub_title {
	font-size: 0.9rem;
	color: var(--dark);
}

.Source_link {
	font-size: 0.9rem;
}