@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
  --background-light: #334756;
  --background-dark: #2C394B;
  --medium: #FF4C29;
  --dark: #082032;
  --font-dark: #2b3749;
  --font-link: #00C1D4;
  --font-light: #F6F6F6;
}

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
