@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
  --background-light: #334756;
  --background-dark: #2C394B;
  --medium: #FF4C29;
  --dark: #082032;
  --font-dark: #2b3749;
  --font-link: #00C1D4;
  --font-light: #F6F6F6;
  --disabled: #a8a8a8;
}

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
  box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
}