.News {
	display: flex;
	gap: 20px;
	flex-direction: column;
	padding: 10px;
	margin: 20px auto;
	position: relative;
}

.Card_img {
	width: 100% !important;
	min-height: 250px !important;
	overflow: hidden;
	flex: 0 0 auto;
}

.Card_img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.Card_content {
	padding: 0px 10px 30px 10px;
}

.Source {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #FFE2E2;
	padding: 5px 10px;
}

.Card_info {
	font-size: 0.9rem;
	color: var(--dark);
}

.Author {
	font-weight: bold;
	font-size: 1rem;
	color: var(--font-dark);
}

.Card_link {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 20px;
}

.Content {
	font-size: 0.9rem;
}